@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root {
  --color1: #c43b01;
  --color2: #db710e;
  --color3: #fbb14e;
  --color4: #fff291;
  --color5: #fffbbf;
}

.color1 {color: var(--color1);}
.color2 {color: var(--color2);}
.color3 {color: var(--color3);}
.color4 {color: var(--color4);}
.color5 {color: var(--color5);}


*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav, header, main, footer{
  padding: 20px;
  font-weight: 800;
}



ul { 
  list-style:none;
  display: flex;
}



.threeColumIcon{
  display: flex;
  justify-content: space-around;

}
.threeColumIcon img{
  height: 150px;
  margin-bottom: 10px;
}
.threeColumIcon div{
  text-align: center;
}
.threeColumIcon p{
  width: 200px;
}


.textoHeader{
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding-top: 30vh;
}


a{
  text-decoration: none;
  color: white;
  margin: 10px;
}

footer a{
  padding: 10px;
}



nav{
  display: flex;
  background-color: ;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-around;
  grid-area: nav;
  padding: 0 50px 0 0;
  background: rgba(0, 0, 0, .4);
}

#navImg{
  flex-grow: 1;
  justify-content: left;
  align-items: center;
}
#navList{
  flex-grow: 3;
  justify-content: right;
  align-items: center;
  text-decoration: none;
  color: white;
}



header{
  background-image: url('../img/header.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: header;
  padding: 0;
}

header h1{
  width: 350px;
}

main{
  background-color: ;
  grid-area: main;
}


footer{
  background-color: var(--color4);
  grid-area: pie;
}


body{
  display: grid;
  background-color: var(--color5);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100vh;
  grid-template-areas: 
  "header header header"
  "main main main" 
  "pie pie pie";
}
