@charset "UTF-8";
/*
npm run watch-css
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
.color1 {
  background-color: #2C3E50; }

.color5 {
  background-color: #f8efc9; }

@keyframes slideInFromBottom {
  0% {
    transform: translateY(40px); }
  100% {
    transform: translateY(0); } }

.transform {
  animation: 1s ease-out 0s 1 slideInFromBottom;
  padding-bottom: 40px;
  overflow-y: hidden; }

@keyframes slideInFromBottomContent {
  0% {
    transform: translateY(80px); }
  100% {
    transform: translateY(0); } }

.transformContent {
  animation: 1.5s ease-out 0s 1 slideInFromBottomContent; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden; }

section {
  overflow-y: hidden; }

ul {
  list-style: none;
  display: flex; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 30px; }

a {
  text-decoration: none;
  color: #fffff0; }

.planes {
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px 0; }
  .planes button {
    margin: 10px 0 10px 0; }
  .planes h2 {
    margin-bottom: 0; }
  .planes .card-deck {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .planes .card-deck .card-body {
      display: flex;
      flex-direction: column; }
      .planes .card-deck .card-body .caracteristicasList {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 13px; }
        .planes .card-deck .card-body .caracteristicasList li:before {
          content: '✓ ';
          color: #f94110;
          font-weight: 600; }
        .planes .card-deck .card-body .caracteristicasList li {
          text-align: center; }
      .planes .card-deck .card-body .planFooter {
        display: flex;
        flex-direction: column;
        margin-top: auto; }
        .planes .card-deck .card-body .planFooter .btn {
          margin: 0 10px 5px 10px; }
      .planes .card-deck .card-body .card-title {
        color: #f94110;
        font-weight: 600; }
      .planes .card-deck .card-body .precioPlan {
        font-size: 17px;
        color: #f94110; }
      .planes .card-deck .card-body .descripcionPrecioPlan {
        color: #f94110; }
      .planes .card-deck .card-body .precioFree {
        padding-bottom: 22.396px; }
      .planes .card-deck .card-body .descripcionPrecioPlan {
        font-size: 12px; }

@media screen and (min-width: 768px) {
  .planes .card-deck {
    flex-direction: row;
    align-items: stretch; } }

.separador {
  height: 86px; }

.nosotrosCont {
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .nosotrosCont .card {
    align-self: center; }
  .nosotrosCont .parrafoNosotros {
    align-self: center;
    font-weight: 600;
    height: 250px;
    display: flex;
    width: 30%;
    border: 1px solid #f94110;
    align-items: center;
    justify-content: center; }
  .nosotrosCont p {
    width: 100%;
    align-self: center;
    margin: 15px; }

.nosotrosCont2 {
  flex-direction: column-reverse; }

.card {
  width: 18rem; }

.card-text {
  font-size: 14px;
  /*  width: 100%;
  margin: 0;*/ }

.novedadesCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .novedadesCardContainer .cardCont {
    align-self: center;
    margin-bottom: 10px; }

.threeColumIconImg {
  width: auto;
  height: 150px;
  margin-bottom: 10px; }

.width200 {
  max-width: 200px; }

.textCenter {
  text-align: center; }

.textLeft {
  text-align: left; }

.textMiddle {
  vertical-align: middle; }

.bottomMargin10 {
  margin-bottom: 10px; }

.bottomMargin20 {
  margin-bottom: 20px; }

.bottomPadding40 {
  padding-bottom: 40px; }

.textoHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  color: #fffff0;
  padding-top: 30vh;
  width: 100%; }

.mapa {
  width: 100%;
  height: 622px; }

.nav-link {
  color: #fffff0; }

.pointer {
  cursor: pointer; }

.logo {
  height: 60px; }

.boton {
  background-color: #f94110;
  border: none;
  color: ivory; }

.boton:hover {
  background-color: #f76411;
  color: ivory; }

nav {
  grid-area: nav;
  font-weight: 600; }
  nav .launchApp {
    margin-left: 10px; }

.opacidadNav {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px); }

#navImg {
  flex-grow: 1;
  justify-content: left;
  align-items: center; }

aside {
  grid-area: aside; }

header {
  /*  background-image: url('../img/header.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
  grid-area: header;
  padding: 0;
  width: 100%; }
  header h1 {
    max-width: 350px; }
  header h2 {
    max-width: 350px; }

main {
  grid-area: main;
  margin-top: 86px; }

aside {
  margin-top: 86px; }

footer {
  background-color: #2C3E50;
  grid-area: pie;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 10px 0 10px 0; }

.socialMediaContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: center;
  padding: 10px 0 10px 0; }
  .socialMediaContainer a {
    color: #fffff0;
    font-size: 15px;
    padding-bottom: 5px; }
  .socialMediaContainer img {
    height: 20px; }

.datosContacto {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: center; }
  .datosContacto p {
    color: #fffff0;
    font-size: 15px;
    max-width: 300px;
    margin-bottom: 0; }
  .datosContacto img {
    height: 20px; }

body {
  display: grid;
  background-color: #f8efc9;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "pie"; }

.bodyContacto {
  grid-template-areas: "header" "main" "aside" "pie"; }

.indexCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: 600; }

#index-body {
  grid-template-rows: 100vh; }

/*.planesM{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  .buttonContainer{
    text-align: center;
    padding: 10px 0 30px 0;
  }
  .planesMCont{
    align-self: center;
  }
  .planesList{
    display: flex;
    flex-direction: column;
  }
}*/
@media screen and (min-width: 768px) {
  .nosotrosCont {
    flex-direction: row; }
  .indexCont {
    flex-direction: row; }
  .socialMediaContainer {
    padding-left: 50px; }
  body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header" "main main main" "pie pie pie"; }
  footer {
    flex-direction: row; }
  .bodyContacto {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "main aside" "pie pie"; } }

@media screen and (min-width: 920px) {
  .novedadesCardContainer {
    flex-direction: row; }
    .novedadesCardContainer .cardCont {
      align-self: auto; } }
