/*
npm run watch-css
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
.color1 {
  color: #c43b01; }

.color2 {
  color: #db710e; }

.color3 {
  color: #fbb14e; }

.color4 {
  color: #fff291; }

.color5 {
  color: #fffbbf; }

@keyframes slideInFromLeft {
  0% {
    transform: translateY(40px); }
  100% {
    transform: translateY(0); } }

.transform {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  padding-bottom: 40px;
  overflow-y: hidden; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden; }

nav, header, main, footer aside {
  padding: 20px; }

section {
  overflow-y: hidden; }

ul {
  list-style: none;
  display: flex; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 30px; }

a {
  text-decoration: none;
  color: white; }

.planes {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  .planes button {
    margin: 10px 0 10px 0; }
  .planes h2 {
    margin-bottom: 0; }
  .planes .col {
    padding: 2px 0 2px 0; }

.nosotrosCont {
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .nosotrosCont .card {
    align-self: center; }
  .nosotrosCont p {
    max-width: 50%;
    align-self: center;
    margin: 15px; }

.nosotrosCont2 {
  flex-direction: column-reverse; }

.card {
  width: 18rem; }

.novedadesCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .novedadesCardContainer .cardCont {
    align-self: center;
    margin-bottom: 10px; }

.threeColumIconImg {
  width: auto;
  height: 150px;
  margin-bottom: 10px; }

.width200 {
  max-width: 200px; }

.textCenter {
  text-align: center; }

.textLeft {
  text-align: left; }

.textMiddle {
  vertical-align: middle; }

.bottomMargin10 {
  margin-bottom: 10px; }

.bottomMargin20 {
  margin-bottom: 20px; }

.bottomPadding40 {
  padding-bottom: 40px; }

.textoHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding-top: 30vh;
  width: 100%; }

.mapa {
  width: 100%;
  height: 622px; }

.nav-link {
  color: white; }

.logo {
  height: 60px; }

nav {
  grid-area: nav;
  background: rgba(0, 0, 0, 0.4);
  font-weight: 600; }

#navImg {
  flex-grow: 1;
  justify-content: left;
  align-items: center; }

aside {
  grid-area: aside; }

header {
  background-image: url("../img/header.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: header;
  padding: 0; }
  header h1 {
    max-width: 350px; }
  header h2 {
    max-width: 350px; }

main {
  grid-area: main;
  margin-top: 86px; }

aside {
  margin-top: 86px; }

footer {
  background-color: #fff291;
  grid-area: pie;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 10px 0 10px 0; }

.socialMediaContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: center;
  padding: 10px 0 10px 0; }
  .socialMediaContainer a {
    color: black;
    font-size: 15px;
    padding-bottom: 5px; }
  .socialMediaContainer img {
    height: 20px; }

.datosContacto {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: center; }
  .datosContacto p {
    color: black;
    font-size: 15px;
    max-width: 300px;
    margin-bottom: 0; }
  .datosContacto img {
    height: 20px; }

body {
  display: grid;
  background-color: #fffbbf;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "pie"; }

.bodyContacto {
  grid-template-areas: "header" "main" "aside" "pie"; }

.indexCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

#index-body {
  grid-template-rows: 100vh; }

.planesD {
  display: none;
  overflow-y: hidden; }

.planesM {
  display: flex;
  flex-direction: column;
  overflow-y: hidden; }
  .planesM .buttonContainer {
    text-align: center;
    padding: 10px 0 30px 0; }
  .planesM .planesMCont {
    align-self: center; }
  .planesM .planesList {
    display: flex;
    flex-direction: column; }

@media screen and (min-width: 768px) {
  .nosotrosCont {
    flex-direction: row; }
  .planesD {
    display: block; }
  .planesM {
    display: none; }
  .indexCont {
    flex-direction: row; }
  .socialMediaContainer {
    padding-left: 50px; }
  body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header" "main main main" "pie pie pie"; }
  footer {
    flex-direction: row; }
  .bodyContacto {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "main aside" "pie pie"; } }

@media screen and (min-width: 920px) {
  .novedadesCardContainer {
    flex-direction: row; }
    .novedadesCardContainer .cardCont {
      align-self: auto; } }
