@keyframes slideInFromBottom {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

.transform { 
  animation: 1s ease-out 0s 1 slideInFromBottom;
  padding-bottom: 40px;
  overflow-y: hidden;
}





@keyframes slideInFromBottomContent {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0);
  }
}

.transformContent{
  animation: 1.5s ease-out 0s 1 slideInFromBottomContent;
}