@keyframes slideInFromLeft {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

.transform { 
  animation: 1s ease-out 0s 1 slideInFromLeft;
  padding-bottom: 40px;
  overflow-y: hidden;
}