
$color1: #c43b01;
$color2: #db710e;
$color3: #fbb14e;
$color4: #fff291;
$color5: #fffbbf;

.color1 {color: $color1;}
.color2 {color: $color2;}
.color3 {color: $color3;}
.color4 {color: $color4;}
.color5 {color: $color5;}