/*
npm run watch-css
*/
@import '_colores';
@import '_typography';
@import '_animaciones';
@import '_functions';


*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav, header, main, footer aside{
}

section{
  overflow-y: hidden;
}

ul { 
  list-style:none;
  display: flex;
}

h1{
  font-size: 35px;
}

h2{
  font-size: 30px;
}
a{
  text-decoration: none;
  color: $ivory;
}

.hyperlink{
  color: blue;
}

.noOverflow{
  overflow-y: hidden;
  overflow-x: hidden;
}

.planes{
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px 0;
  button{
    margin: 10px 0 10px 0;
  }
  h2{
    margin-bottom: 0;
  }

  .table-roles{
    font-size: 12px;
    font-weight: 600;
  }

  .card-deck{
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .card{
      margin-bottom: 20px;

      .card-body{
      display: flex;
      flex-direction: column;

      .caracteristicasList{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 13px;
        li:before {
          content: '✓ ';
          color: rgba(249,65,16,255);
          font-weight: 600;
        }
        li{
          text-align: center;
        }
      } 
    }



      .planFooter{
        display: flex;
        flex-direction: column;
        margin-top: auto;
        .btn{
          margin: 0 10px 5px 10px;
        }
      }
      .card-title{
        color: rgba(249,65,16,255);
        font-weight: 600;
      }
      .precioPlan{
        font-size: 17px;
        color: rgba(249,65,16,255)
      }
      .descripcionPrecioPlan{
        color: rgba(249,65,16,255)        
      }
      .precioFree{
        padding-bottom: 22.396px;
      }
      .descripcionPrecioPlan{
        font-size: 12px;
      }
    }
  }

}
@media screen and (min-width: 768px){
  .planes{
    .card-deck{
      flex-direction: row;
      align-items: stretch;
    }
  }
}






.separador{
  height: 86px;
}

.nosotrosCont{
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .card{
    align-self: center;
  }
  .parrafoNosotros{
    align-self: center;
    font-weight: 600;
    height: 250px;
    display: flex;
    width: 30%;
    border:1px solid rgba(249,65,16,255);
    align-items: center;
    justify-content: center;
  }
  p{
    width: 100%;
    align-self: center;
    margin: 15px;
  }
}
.nosotrosCont2{
  flex-direction: column-reverse;
}


.card{
  width: 18rem; 
}
.card-text{
  font-size: 14px;
/*  width: 100%;
  margin: 0;*/
}
.featuresContainer{
  .featuresImages{
    display: flex;
    flex-direction: column;
    .image1{
      max-width: 100%;
    }
    .image2{
      max-width: 100%;
      align-self: flex-end;
    }
    .image3{
      max-width: 100%;
    }
  }
}

.threeColumIconImg{
  //height: 150px;
  @include sizes(auto, 150px);
  margin-bottom: 10px;
}
.width200{
  max-width: 200px;
}
.textCenter{
  text-align: center;
}
.textLeft{
  text-align: left;
}
.textMiddle{
  vertical-align: middle;
}
.bottomMargin10{
  margin-bottom: 10px;
}
.bottomMargin20{
  margin-bottom: 20px;
}
.bottomPadding40{
  padding-bottom: 40px;
}



.textoHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  color: $ivory;
  padding-top: 30vh;
  width: 100%;
}

.mapa{
  width: 100%;
  height: 622px;
}

.nav-link{
  color: $ivory;
}

.pointer{
  cursor: pointer;
}

.logo{
  height: 60px;
}

.boton{
    background-color: rgba(249,65,16,255);
    border: none;
    color: ivory;
}
.boton:hover{
  background-color: rgba(247,100,17,255);
  color: ivory;
}
.boton:focus{
  background-color: rgba(249,65,16,255);
  color: ivory;
}

nav{
  grid-area: nav;
  font-weight: 600;
  .launchApp{
    margin-left: 10px;
  }

}

.opacidadNav{
  background: rgba(0, 0, 0, .7);
  backdrop-filter: blur(10px);
}


#navImg{
  flex-grow: 1;
  justify-content: left;
  align-items: center;
}


aside{
  grid-area: aside;
}


header{
/*  background-image: url('../img/header.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
  grid-area: header;
  padding: 0;
  width: 100%;
  h1{
    max-width: 350px;
  }
  h2{
    max-width: 350px;
  }
}


main{
  grid-area: main;
  margin-top: 86px;
}
aside{
  margin-top: 86px;
}




footer{
  background-color: $color1;
  grid-area: pie;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 10px 0 10px 0;
}

.socialMediaContainer{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: center;
  padding: 10px 0 10px 0;
  a{
    color: $ivory;
    font-size: 15px;
    padding-bottom: 5px;
  }
  img{
    height: 20px;
  }
}

.datosContacto{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: center;
  p{
    color: $ivory;
    font-size: 15px;
    max-width: 300px;
    margin-bottom: 0;
  }
  img{
    height: 20px;
  }
}



body{
  display: grid;
  background-color: $color5;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header"
  "main"
  "pie";
}

.bodyContacto{
  grid-template-areas:
  "header"
  "main"
  "aside"
  "pie";
}

.indexCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
}

#index-body{
  grid-template-rows: 100vh;
}



/*.planesM{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  .buttonContainer{
    text-align: center;
    padding: 10px 0 30px 0;
  }
  .planesMCont{
    align-self: center;
  }
  .planesList{
    display: flex;
    flex-direction: column;
  }
}*/

@media screen and (min-width: 768px){
  .nosotrosCont{
    flex-direction: row;
  }

  .indexCont{
    flex-direction: row;
  }
  .socialMediaContainer{
    padding-left: 50px;
  }
  body{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "main main main"
    "pie pie pie";
  }
  footer{
    flex-direction: row;
  }
  .bodyContacto{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header header"
    "main aside"
    "pie pie"; 
  }
}


@media screen and (min-width: 767px){
  .featuresContainer{
    .featuresImages{
      .image1{
        max-width: 70%;
      }
      .image2{
        max-width: 70%;
      }
      .image3{
        max-width: 50%;
      }
    }
  }
}