/*
npm run watch-css
*/
@import '_colores';
@import '_typography';
@import '_animaciones';
@import '_functions';


*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav, header, main, footer{
  padding: 20px;
  font-weight: 800;
}

section{
  overflow-y: hidden;
}

ul { 
  list-style:none;
  display: flex;
}

.flexBox{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flexBox div{
  padding: 0 5px 40px 5px;
}


.threeColumIconImg{
  //height: 150px;
  @include sizes(auto, 150px);
  margin-bottom: 10px;
}
.width200{
  width: 200px;
}
.textCenter{
  text-align: center;
}
.textMiddle{
  vertical-align: middle;
}
.bottomMargin10{
  margin-bottom: 10px;
}
.bottomMargin20{
  margin-bottom: 20px;
}
.bottomPadding40{
  padding-bottom: 40px;
}



.textoHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding-top: 30vh;
  width: 100%;
}


a{
  text-decoration: none;
  color: white;
}





nav{
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-around;
  grid-area: nav;
  padding: 0 50px 0 0;
  background: rgba(0, 0, 0, .4);
  flex-grow: 3;
  align-items: center;
  text-decoration: none;
  color: white;
  a{
    margin: 10px;
  }
}

#navImg{
  flex-grow: 1;
  justify-content: left;
  align-items: center;
}




header{
  background-image: url('../img/header.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: header;
  padding: 0;
  h1{
    width: 350px;
  }
  h2{
    width: 350px;
  }
}


main{
  grid-area: main;
  margin-top: 60px;
}


footer{
  background-color: $color4;
  grid-area: pie;
  a{
    padding: 10px;
  }
}



body{
  display: grid;
  background-color: $color5;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header"
  "main"
  "pie";
}



#index-body{
  grid-template-rows: 100vh;
}


@media screen and (min-width: 768px){
  .threeColumIcon{
    flex-direction: row;
  }
  .flexBox{
    flex-direction: row;
  }
  body{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "main main main"
    "pie pie pie";
  }
}