<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<title>Kromli</title>
</head>
<body class="bodyContacto">
<nav class="navbar fixed-top navbar-expand-lg">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="../index.html">
	    	<img class="logo" src="../img/kromli_logo.png">
	    </a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link" href="planes.html">Planes</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="novedades.html">Novedades</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="nosotros.html">Nosotros</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="contacto.html">Contacto</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<main>
		<section>
			<h1>Contacto</h1>
			<form class="contactForm" action="contacto.html">
				<fieldset>
					<legend>Info personal</legend>
					<div class="lineaContacto">
						<label>Nombre</label>
						<input class="form-control" type="text" id="name" placeholder="Nombre">
					</div>
					<div>
						<label>Email</label>
						<input class="form-control" type="email" id="email" placeholder="mail@algo.com">
					</div>
				</fieldset>
				<fieldset>
					<legend>Tipo de mensaje</legend>
					<label for="Envio">Reclamo</label>
					<input type="radio" name="reclamoSugerencia" id="reclamo" value="reclamo">
					<label for="Local">Sugerencia</label>
					<input type="radio" name="reclamoSugerencia" id="sugerencia" value="sugerencia">
				</fieldset>
				<label>Mensaje</label>
				<br>
				<textarea name="mensaje" class="form-control" id="mensaje" cols="30" rows="10"></textarea>
				<input class="btn btn-outline-danger" type="reset" value="Cancelar">
				<input class="btn btn-outline-success" type="submit" value="Enviar">
			</form>
		</section>
	</main>
	<aside>
		<!-- mapa -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.91478688828!2d-58.46068478523517!3d-34.55571286246579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5e16fd3dac3%3A0xfbc4fd2d1e875970!2sKromli!5e0!3m2!1ses-419!2sar!4v1658238226377!5m2!1ses-419!2sar" class="mapa" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</aside>

	<footer>
		<div class="socialMediaContainer">
			<a href="https://instagram.com/kromli" target="_blank">
				<img src="../img/instagram_logo.png" alt="instagram">
				@Kromi
			</a>
			<a href="https://linkedin.com/kromli" target="_blank">
				<img src="../img/linkedin_logo.png" alt="linkedin">
				@Kromli
			</a>
			<a href="https://twitter.com/kromli" target="_blank">
				<img src="../img/twitter_logo.png" alt="twitter">
				@Kromli
			</a>
		</div>
		<div class="datosContacto">
			<p>
				Direccion: Franklin D. Roosevelt 2157, CABA
			</p>
			<p>
				Telefono: 11 1234 5678
			</p>
			<p>
				Email: info@krom.li
			</p>
		</div>
	</footer>
</body>
</html>