<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<title>Kromli</title>
</head>
<body class="bodyPlanes">
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="../index.html">
	    	<img class="logo" src="../img/kromli_logo.png">
	    </a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link" href="planes.html">Planes</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="novedades.html">Novedades</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="nosotros.html">Nosotros</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="contacto.html">Contacto</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<main>
		<section>
		<h1 class="bottomMargin20">Novedades</h1>
			<div class="transform novedadesCardContainer">
				<div class="cardCont">
					<div class="card">
					  <img class="card-img-top" src="../img/card1.png" alt="Grafico de Torta">
					  <div class="card-body">
					    <h5 class="card-title">Grafico de Torta</h5>
					    <p class="card-text">Nuevo grafico en los reportes con porcentaje de horas trabajadas para cada proyecto</p>
					    <a href="#" class="btn btn-primary">Ir al Reporte</a>
					  </div>
					</div>
				</div>
				<div class="cardCont">
					<div class="card">
					  <img class="card-img-top" src="../img/card2.png" alt="Reservas">
					  <div class="card-body">
					    <h5 class="card-title">Reservas</h5>
					    <p class="card-text">Nueva seccion de reservas de puestos de trabajo</p>
					    <a href="#" class="btn btn-primary">Ir al Reservas</a>
					  </div>
					</div>
				</div>
				<div class="cardCont">
					<div class="card">
					  <img class="card-img-top" src="../img/card3.png" alt="Grafico de Torta">
					  <div class="card-body">
					    <h5 class="card-title">Soporte</h5>
					    <p class="card-text">Nueva seccion de soporte tecnico</p>
					    <a href="#" class="btn btn-primary">Leer más</a>
					  </div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<br>
	<footer>
		<div class="socialMediaContainer">
			<a href="https://instagram.com/kromli" target="_blank">
				<img src="../img/instagram_logo.png" alt="instagram">
				@Kromi
			</a>
			<a href="https://linkedin.com/kromli" target="_blank">
				<img src="../img/linkedin_logo.png" alt="linkedin">
				@Kromli
			</a>
			<a href="https://twitter.com/kromli" target="_blank">
				<img src="../img/twitter_logo.png" alt="twitter">
				@Kromli
			</a>
		</div>
		<div class="datosContacto">
			<p>
				Direccion: Franklin D. Roosevelt 2157, CABA
			</p>
			<p>
				Telefono: 11 1234 5678
			</p>
			<p>
				Email: info@krom.li
			</p>
		</div>
	</footer>
	<script src="../bootstrap/js/bootstrap.js"></script>
</body>
</html>