<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<title>Kromli</title>
</head>
<body>
	<nav>
		<a id="navImg" href="../index.html">
			<img src="../img/kromli_logo.png" alt="logo" height="60">
		</a>

		<ul style="align-items: center;" id="navList" class="nav justify-content-end">
			<li class="nav-item">
				<a href="planes.html">
					Planes
				</a>
			</li>
			<li class="nav-item">
				<a href="novedades.html">
					Novedades
				</a>
			</li>
			<li class="nav-item">
				<a href="nosotros.html">
					Nosotros
				</a>
			</li>
			<li class="nav-item">
				<a href="contacto.html">
					Contacto
				</a>
			</li>
		</ul>
	</nav>
	<main>
		<h1 class="bottomMargin20">Planes</h1>
		<section class="flexBox textCenter">
			<div class="transform planes">

			  <div class="row">
			  	<div class="col"></div>
			    <div class="col">
			      <h2>Plan 1</h2>
			    </div>
			    <div class="col">
			      <h2>Plan 2</h2>
			    </div>
			    <div class="col">
			      <h2>Plan 3</h2>
			    </div>
			  </div>
			  <div class="row planesQualitys">
			  	<div class="col">Reportes Basicos</div>
			    <div class="col">X</div>
			    <div class="col">X</div>
			    <div class="col">X</div>
			  </div>
			  <div class="row">
			  	<div class="col">Maxima Cant. Usuarios</div>
			    <div class="col">10</div>
			    <div class="col">50</div>
			    <div class="col">Ilimitado</div>
			  </div>
			  <div class="row">
			  	<div class="col">Reportes Avanzados</div>
			    <div class="col"></div>
			    <div class="col">X</div>
			    <div class="col">X</div>
			  </div>
			  <div class="row">
			  	<div class="col">Reportes para Clientes</div>
			    <div class="col"></div>
			    <div class="col"></div>
			    <div class="col">X</div>
			  </div>
			</div>
		</section>
	</main>
	<br>
	<footer>
		<div class="socialMediaContainer">
			<a href="https://instagram.com/kromli" target="_blank">
				<img src="../img/instagram_logo.png" alt="instagram">
				@Kromi
			</a>
			<a href="https://linkedin.com/kromli" target="_blank">
				<img src="../img/linkedin_logo.png" alt="linkedin">
				@Kromli
			</a>
			<a href="https://twitter.com/kromli" target="_blank">
				<img src="../img/twitter_logo.png" alt="twitter">
				@Kromli
			</a>
		</div>
		<div class="datosContacto">
			<p>
				Direccion: Franklin D. Roosevelt 2157, CABA
			</p>
			<p>
				Telefono: 11 1234 5678
			</p>
			<p>
				Email: info@krom.li
			</p>
		</div>
	</footer>
	<script src="../bootstrap/js/bootstrap.js"></script>
</body>
</html>