<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<title>Kromli</title>
</head>
<body class="bodyPlanes">
	<nav class="navbar fixed-top navbar-expand-lg">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="../index.html">
	    	<img class="logo" src="../img/kromli_logo.png">
	    </a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link" href="planes.html">Planes</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="novedades.html">Novedades</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="nosotros.html">Nosotros</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="contacto.html">Contacto</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<main>
		<h1 class="bottomMargin20">Planes</h1>
		
			<section>
				<div class="planesD textCenter">
					<div class="transform planes">
					  <div class="row">
					  	<div class="col"></div>
					    <div class="col">
					      <h2>Plan 1</h2>
					    </div>
					    <div class="col">
					      <h2>Plan 2</h2>
					    </div>
					    <div class="col">
					      <h2>Plan 3</h2>
					    </div>
					  </div>
					  <div class="row planesQualities">
					  	<div class="col">Reportes Basicos</div>
					    <div class="col">X</div>
					    <div class="col">X</div>
					    <div class="col">X</div>
					  </div>
					  <div class="row planesQualities">
					  	<div class="col">Maxima Cant. Usuarios</div>
					    <div class="col">10</div>
					    <div class="col">50</div>
					    <div class="col">Ilimitado</div>
					  </div>
					  <div class="row planesQualities">
					  	<div class="col">Reportes Avanzados</div>
					    <div class="col"></div>
					    <div class="col">X</div>
					    <div class="col">X</div>
					  </div>
					  <div class="row planesQualities">
					  	<div class="col">Reportes para Clientes</div>
					    <div class="col"></div>
					    <div class="col"></div>
					    <div class="col">X</div>
					  </div>
				  		<div class="row align-items-center suscribirme">
					  		<div class="col"></div>
					    	<div class="col">
					    		<button class="btn btn-outline-success">
					    			Suscribirme
					    		</button>
					    	</div>
					    	<div class="col">
					    		<button class="btn btn-outline-success">
					    			Suscribirme
					    		</button>
					    	</div>
					    	<div class="col">
					    		<button class="btn btn-outline-success">
					    			Suscribirme
					    		</button>
					    	</div>
						</div>
					</div>
				</div>
				<div class="planesM">
					<div class="transform planesMCont">
						<h2>Plan 1</h2>
						<ul class="planesList">
							<li>Reportes Basicos</li>
							<li>10 Usuarios</li>
						</ul>
						<div class="buttonContainer">
				    		<button class="btn btn-outline-success">
				    			Suscribirme
				    		</button>
			    		</div>
						<h2>Plan 2</h2>
						<ul class="planesList">
							<li>Reportes Basicos</li>
							<li>50 Usuarios</li>
							<li>Reportes Avanzados</li>
						</ul>
						<div class="buttonContainer">
				    		<button class="btn btn-outline-success">
				    			Suscribirme
				    		</button>
			    		</div>
						<h2>Plan 3</h2>
						<ul class="planesList">
							<li>Reportes Basicos</li>
							<li>Usuarios Ilimitados</li>
							<li>Reportes Avanzados</li>
							<li>Reportes para Clientes</li>
						</ul>
						<div class="buttonContainer">
				    		<button class="btn btn-outline-success">
				    			Suscribirme
				    		</button>
			    		</div>
					</div>
				</div>
			</section>
		</div>
	</main>
	<br>
	<footer>
		<div class="socialMediaContainer">
			<a href="https://instagram.com/kromli" target="_blank">
				<img src="../img/instagram_logo.png" alt="instagram">
				@Kromi
			</a>
			<a href="https://linkedin.com/kromli" target="_blank">
				<img src="../img/linkedin_logo.png" alt="linkedin">
				@Kromli
			</a>
			<a href="https://twitter.com/kromli" target="_blank">
				<img src="../img/twitter_logo.png" alt="twitter">
				@Kromli
			</a>
		</div>
		<div class="datosContacto">
			<p>
				Direccion: Franklin D. Roosevelt 2157, CABA
			</p>
			<p>
				Telefono: 11 1234 5678
			</p>
			<p>
				Email: info@krom.li
			</p>
		</div>
	</footer>
	<script src="../bootstrap/js/bootstrap.js"></script>
</body>
</html>